
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}


/***** Layout *****/
#top {

    background-color: gainsboro;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    clear: both;
    font-size: 0.9em;
    color: #aaa;
    background-color: gainsboro;
    padding: 5px;
    text-align: center;

}

#left {
    float: left;
    background-color: gainsboro;
    padding: 5px;
    width:170px;
    height: 600px;
}

#right {
    float: right;
    background-color: #AFAFAF;
    padding: 5px;
    width: 150px;
}

/*.center_content {
    position: fixed;
    background-color: #AFAFAF;
    padding: 5px;

}
*/
#checkboxDT{
    width: 100%;



}


#right_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    height: 600px;

}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
h2{
    font-family: sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}
#fieldset{

    text-align: center;




}

#labelUsers{
    text-align: left;
    color: black;
    font-size: medium;

}

#adminword{font-weight: bold;}
#clientword{font-weight: bold;}
#reviewerword{font-weight: bold;}
#tmword{font-weight: bold;}

#link{
    font-size: medium;
    float: right;



}
.notesDialog{

    width: 50% !important;
    height: 95% !important;
}




.notesDialog .ui-dialog-content {

    width: 95% !important;
    height: 85% !important;
}

.ui-menuitem {
    width: 100px !important;
    height: 35px !important;}



.ui-menubar .ui-menuitem{
    width:100px !important;
}